[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/yuko29/hugo-theme-pure.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/yuko29/hugo-theme-stack.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/yuko29/hugo-theme-even.git
